<div class="mb-5">
    <intro-section></intro-section>

    <div class="container">
        <form [formGroup]="domainLookupForm" (ngSubmit)="onSubmit()" class="mt-5">
            <fieldset [disabled]="isBusy">
                <div class="input-group input-group-lg shadow-sm">
                    <span class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ f.selectedCurrencyCode.value }}
                    </span>
                    <ul class="dropdown-menu">
                        <li *ngFor="let currency of supportedCurrencies">
                            <a href="#" class="dropdown-item" (click)="currencyChanged(currency.code)" >{{ currency.code }} - {{ currency.name }}</a>
                        </li>
                    </ul>

                    <input type="text" formControlName="domainNameWithTLD" id="domainNameWithTLD"
                        class="form-control" [ngClass]="{ 'is-invalid': f.domainNameWithTLD.touched && f.domainNameWithTLD.errors }"
                        placeholder="Enter domain you would like to buy" autofocus />

                    <button type="submit" [disabled]="domainLookupForm.invalid" class="btn btn-primary">
                        <span *ngIf="isBusy" class="spinner-border spinner-border-sm mr-1"></span>
                        <i *ngIf="!isBusy" class="bi bi-search"></i>
                    </button>
                </div>

                <div *ngIf="f.domainNameWithTLD.touched && f.domainNameWithTLD.errors" class="text-danger text-center">
                    <div *ngIf="f.domainNameWithTLD.errors.required">Domain name is required</div>
                    <div *ngIf="f.domainNameWithTLD.errors.pattern">Not a valid Domain name and should contain extension</div>
                </div>
            </fieldset>
        </form>

        <div *ngIf="domainStatus === 'NotAvailable'"
            class="alert alert-warning text-center mt-3">
            <strong>{{ f.domainNameWithTLD.value }}</strong>&nbsp;domain is&nbsp;<strong>not</strong>&nbsp;available!
        </div>
        
        <div *ngIf="domainStatus === 'Available'" class="mt-3">
            <div *ngIf="isBusy"
                class="alert alert-info text-center mt-3">
                <strong>{{ f.domainNameWithTLD.value }}</strong>&nbsp;domain is available, loading registrars...
            </div>
    
            <div class="list-group">
                <a *ngFor="let registrar of registrars"
                    [href]="registrar.url" target="blank"
                    class="list-group-item list-group-item-action px-3 d-flex justify-content-between align-items-center">
                    {{ registrar.name }}

                    <div *ngIf="registrar.status == 'Loading'" class="spinner-grow spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading Domain Price...</span>
                    </div>

                    <div *ngIf="registrar.status == 'Ready'">
                        {{ f.selectedCurrencyCode.value }} {{ registrar.price.toFixed(2) }}

                        <button type="button" class="btn btn-link link-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li>
                                <span class="dropdown-item disabled fw-bolder">Features</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li *ngFor="let feature of registrar.features">
                                <span class="dropdown-item disabled">{{ feature }}</span>
                            </li>
                        </ul>
                    </div>

                    <span **ngIf="registrar.status == 'Error'" class="text-denger">-</span>
                </a>
            </div>
        </div>
    </div>
</div>
