<div class="bg-primary text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 flex-column justify-content-center text-center">
                <h1 class="display-1">Welcome to <span class="brand">Lookup</span>!</h1>
                <hr />
                <h2>Before buying a domain, <span class="brand">Lookup</span> for available domains & related prices across multiple Registrars</h2>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="assets/pixeltrue-vision-1.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>
